<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcds.app.android.estar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.XxxxActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.weibo.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.weibo.DynamicMatterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name=".ui.weibo.ContactActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.action.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.action.EntDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.action.CompDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.action.QuesDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.action.OnlineTestDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.action.OnlineHelpDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.action.ForwardDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.action.CommentReplyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.action.CommentListDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.action.QuestionairActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.action.QuestionairResultActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.action.PhotoListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name=".ui.my.HisHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
        
         <activity
            android:name=".ui.my.My_SetHeadPicActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name=".ui.my.SetIntroActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.HisFansActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
         
         <activity
            android:name=".ui.my.HisAttentionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.HisDocumentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.AcceptActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.AttentionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.FansActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".ui.my.DocumentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.AllCountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.AbleCountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".ui.my.MyActivityNotify"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SetPersonalAddressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.GetYesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SendYesCountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.DynamicActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.RemindActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SocietiesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SocietiesInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SocietiesChatActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mcds.app.android.estar.ui.my.attention.MyAttentionMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SocitiesEditAnnouncementActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.My_FriendsDeclarationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SocitiesAlbumActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SocietiesAddAlbumActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SocitiesNoticeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SocitiesShareActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SocietiesMemberListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.work.MatterMemberList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.FindFriendActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.My_InterestActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.IntegrationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.CollectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.RewardsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.My_SystemMessageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.DeliveryAddressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.AllOrdersActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.SetBlogActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.My_SetWeiBoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.HeartTestStart"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.NewsHeartDetailLifeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.HeartTestQAResultActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.NewsHeartDetailMindActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.NewsHeartDetailEAPActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.NewsHeartDetailConsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.HeartTestQA"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.NewsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.NewsDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.HeartTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.HeartMindActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.HeartLifeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.HeartEAPActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.HeartConstellation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.CongratsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.news.CommemorateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.weibo.HomeListDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.weibo.HomeListForwordingActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.weibo.HomeListCommentActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.weibo.HomeListDynamicEditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ui.action.DetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.work.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.work.MatterDetialActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.work.DocumentListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.work.MemberActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.work.WorkChatActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.work.AddMatterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.work.MyDeleteMatterListDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" >
        </activity>
        <activity
            android:name=".ui.work.MyDeleteMissionListDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" >
        </activity>
        <activity
            android:name=".ui.work.MyMatterDialog"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" >
        </activity>
        <activity
            android:name=".ui.work.MyMissionDialog"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" >
        </activity>
        <activity
            android:name=".ui.work.WorkMemberListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.work.MissionListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.work.MissionDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.work.AddMissionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.shop.GiftListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.shop.GiftDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.shop.GiftDetailContentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.shop.ShopcarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.shop.SubmitOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.shop.PayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.shop.OrderListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.shop.OrderDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.shop.AddressListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.shop.AddressEditActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.MyWeiboPraisedActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.MyAtMeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.my.CommitActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>


</manifest>